@import './src/assets/index.scss';

.type {
  padding: 5px 10px;
  margin-left: 8px;
  text-transform: capitalize;
  color: $White;
  border-radius: 4px;
  font-size: $font-12;

  &--fighting {
    background-color: $fighting;
 }

 &--fire {
    background-color: $fire;   
 }

 &--dark {
    background-color: $dark;    
 }

 &--normal {
    background-color: $normal;    
 }

 &--ground {
    background-color: $ground;    
 }

}