$Charcoal: #474747;
$Black: #000000;
$White: #FFFFFF;
$Tosca: #9D4242;
$BrightRed: #FB522D;
$OldArmyHelmet: #5C5C5C;
$LightGray: #AAAAAA;
$BrickRoad: #976D63;
$Violet: #7B61FF;

$main-color: $Charcoal;
$black-color: $Black;
$white-color: $White;
$fighting: $Tosca;
$fire: $BrightRed;
$dark: $OldArmyHelmet;
$normal: $LightGray;
$ground: $BrickRoad;
$accent: $Violet;